* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: #bdbdbd;
}

body {
    width: 100%;
    min-height: 100vh;
    border: 1px dashed green;

    display: grid;
    grid-template-areas:
        "header     header      header      header"
        "nav        nav         nav         nav"
        "breadcrumb breadcrumb  breadcrumb  breadcrumb"
        "main       main        main        main"
        "footer     footer      footer      footer"
}

header {
    grid-area: header;
    border: 2px dashed red;
}

.homePageNavBar {
    grid-area: nav;
    border: 2px dashed yellow;
}

.breadCrumbBar {
    grid-area: breadcrumb;
    border: 2px dashed blue;
}

.homeContent {
    grid-area: main;
    border: 2px dashed purple;
}

footer {
    grid-area: footer;
    border: 2px dashed orange;
}

.topLeftCornerLogo {
    width: 150px;
}

.topRightCornerLogo {
    width: 300px;
}

.footerLogo {
    width: 100px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

