/* Goal for today: completely finish Home Page
/* Goal for Wednesday: completely finish Dog, Cat and Fish Pages
/* Goal for Thursday: completely finish Sign-Up Form Page

Make all links, even resources on home page and navbars functional

Fix paragraph headings for pages

Add some space between virtual consultation and the right side of the screen

After adding Dog, Cat, and Fish pages, check Company Overview and Brand
requirements    -add an about PPP at the bottom of each page?
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: #bdbdbd;
}

body {
    width: 100%;
    min-height: 100vh;
    border: 5px dashed green;

    display: grid;
    grid-template-areas:
        "header     header      header      header"
        "nav        nav         nav         nav"
        "breadcrumb breadcrumb  breadcrumb  breadcrumb"
        "main       main        main        main"
        "footer     footer      footer      footer"
}

/********************** GENERAL **********************/

p {
    font-size: 1rem;
}

h1 {
    font-size: 4rem;
}


/*********** HEADER ***********/

header {
    border: 2px dashed red;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.headerText {
    flex: none;
    flex-grow: 2;
    flex-basis: auto;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2.2rem;
}

.topLeftCornerLogo {
    width: 100px;
    height: auto;
    flex-grow: 1;
    flex-basis: 0px;
    flex-shrink: 1;
    margin-left: 30px;
}

.topRightCornerLogo {
    width: 250px;
    height: auto;
    flex-grow: 1;
    flex-basis: 0px;
    flex-shrink: 2;                 /*Only changed it here*/
    margin-right: 30px;
}

/*********** NAVIGATION ***********/

.homePageNavBar {
    grid-area: nav;
    border: 2px dashed yellow;
    display: flex;
    flex-wrap: nowrap;
}

.dropDownMenuDesktop {
    display: inline;
}

.dropDownMenuMobile {
    display: none;
}

.hamburger-icon {
    display: none;
}

.dropDownArrow {
    width: 30px;
}

.homePageNavBar div {
    display: inline;
}

.breadCrumbBar {
    grid-area: breadcrumb;
    border: 2px dashed blue;
    display: flex;
    justify-content: center
}

.navButtonsBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

/*********** CONTENT ***********/

.homeContent {
    grid-area: main;
    border: 2px dashed purple;
}

.textBox {
    display: inline;
}

.homeText {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.indentedList {
    margin-left: 30px;
    margin-top: 15px;
}

.home_page_image {
    width: 300px;
    float: right;
    margin: 15px;
}

.home_page_image_left {
    width: 300px;
    margin: 15px;
    float: left;
}

.spacedText {
    margin-top: 15px;
}
/*********** FOOTER ***********/

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    grid-area: footer;
    border: 2px dashed orange;
}

footer p {
    text-align: center;
}

.footerLogo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/********************** MEDIA QUERIES **********************/

@media only screen and (min-width: 1201px) {

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex: 1;
        text-align: center;
        font-size: 5rem;
        margin-left: 25px;
        margin-right: 50px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
        display: none;
    }

    .topRightCornerLogo {
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        width: 250px;
        height: auto;
        margin: 30px ;
    }

    /*********** NAVIGATION ***********/

    .navButton {
        font-size: 2rem;
    }

    .breadCrumbHome {
        font-size: 1.4rem;
    }

    /*********** CONTENT ***********/

    .home_page_image {
        width: 600px;
        float: right;
    }

    .home_page_image_left {
        width: 600px;
        float: left;
    }

    .img {
        display: none;
    }

    .homeText {
        font-size: 2rem;
    }

    /*********** FOOTER ***********/

}


@media only screen and (max-width: 1200px) {

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex: 1;
        text-align: center;
        font-size: 4rem;
        margin-left: 25px;
        margin-right: 50px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
    }

    .topRightCornerLogo {
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        width: 250px;
        height: auto;
        margin-right: 30px;
    }

    /*********** NAVIGATION ***********/

    .navButton {
        font-size: 1.6rem;
    }

    .breadCrumbHome {
        font-size: 1.2rem;
    }

    /*********** CONTENT ***********/

    .home_page_image {
        width: 300px;
        float: right;
    }

    .home_page_image_left {
        width: 300px;
        float: left;
    }

    .img {
        display: none;
    }

    .homeText {
        font-size: 1.5rem;
    }

    /*********** FOOTER ***********/

}


@media only screen and (max-width: 950px) {

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex: 1;
        text-align: center;
        font-size: 4rem;
        margin-left: 25px;
        margin-right: 50px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
    }

    .topRightCornerLogo {
        display: none;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        width: 250px;
        height: auto;
        margin-right: 30px;
    }

    /*********** NAVIGATION ***********/

    .navButton {
        font-size: 1.4rem;;
    }
    
    .breadCrumbHome {
        font-size: 1.1rem;
    }
    /*********** CONTENT ***********/

    .home_page_image {
        width: 300px;
        float: right;
    }

    .home_page_image_left {
        width: 300px;
        float: left;
    }

    .img {
        display: none;
        width: 400px;
    }

    .homeText {
        font-size: 1.8rem;
    }

    /*********** FOOTER ***********/

}

@media only screen and (max-width: 768px) {

    /*********** HEADER ***********/

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex: 1;
        text-align: center;
        font-size: 3rem;
        margin-left: 25px;
        margin-right: 50px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
    }

    .topRightCornerLogo {
        display: none;
        
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        width: 250px;
        height: auto;
        margin-right: 30px;
    }

    /*********** NAVIGATION ***********/

    
    
    .navButton {
        font-size: 1.15rem;
        flex-grow: 1;
    }

    /*********** CONTENT ***********/

    .home_page_image {
        width: 300px;
        float: right;
    }

    .home_page_image_left {
        width: 300px;
        float: left;
    }

    .img {
        display: none;
    }

    .homeText {
        font-size: 1.2rem;
    }

    /*********** FOOTER ***********/

}

@media only screen and (max-width: 650px) {
    /*********** HEADER ***********/

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex: 1;
        text-align: center;
        font-size: 2.2rem;
        margin-left: 25px;
        margin-right: 50px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
    }

    .topRightCornerLogo {
        display: none;
        width: 250px;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-right: 30px;
    }

    /*********** NAVIGATION ***********/

    .dropDownMenuDesktop {
        display: none;
    }

    .dropDownMenuMobile {
        display: inline;
    }
    
    .hamburger-icon {
        display: inline;
        width: 30px;
    }

    .navButtonsBar {
        display: none;
    }

    /*********** CONTENT ***********/

    .home_page_image {
        display: none;
    }

    .home_page_image_left {
        display: none;
    }
    
    .homeText {
        font-size: 1.2rem;
    }

    /*********** FOOTER ***********/
}

@media only screen and (max-width: 450px) {
    /*********** HEADER ***********/

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex: 1;
        text-align: center;
        font-size: 2.2rem;
        margin-left: 25px;
        margin-right: 50px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
    }

    .topRightCornerLogo {
        display: none;
        width: 250px;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-right: 30px;
    }

    /*********** NAVIGATION ***********/

    .dropDownMenuDesktop {
        display: none;
    }

    .dropDownMenuMobile {
        display: inline;
    }
    
    .hamburger-icon {
        display: inline;
        width: 30px;
    }

    .navButtonsBar {
        display: none;
    }

    /*********** CONTENT ***********/

    .home_page_image {
        display: none;
    }

    .home_page_image_left {
        display: none;
    }
    
    .homeText {
        font-size: 1rem;
    }

    /*********** FOOTER ***********/
}

@media only screen and (min-width: 1px) and (max-width: 385px) {
    /*********** HEADER ***********/

    header {
        border: 2px dashed red;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    

    .headerText {
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 2;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 15px;
        margin-right: 35px;
    }

    .topLeftCornerLogo {
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-left: 20px;
    }

    .topRightCornerLogo {
        display: none;
        
        width: 250px;
        height: auto;
        flex-grow: 1;
        flex-basis: 0px;
        flex-shrink: 1;
        margin-right: 30px;
    }

    /*********** NAVIGATION ***********/

    .dropDownMenuDesktop {
        display: none;
    }

    .dropDownMenuMobile {
        display: inline;
    }
    
    .hamburger-icon {
        display: inline;
        width: 30px;
    }

    .navButtonsBar {
        display: none;
    }

    .breadCrumbHome {
        font-size: 0.8rem;
    }

    /*********** CONTENT ***********/

    .home_page_image {
        display: none;
    }

    .home_page_image_left {
        display: none;
    }

    .homeText {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 0.75rem;
    }

    /*********** FOOTER ***********/

    .footerLogo {
        width: 250px;
    }
}
